@media screen and (min-width: 480px)
{
	/* PAGE : ABOUT */
    .profile-photo{
        float: left;
        margin: 0 5% 80px 0;
    }

	/* PAGE : HOME */
    #gallery li{
        width: 28.3333%;
		height: 300px;
    }
	
    body{
        background: darkred;
    }
}
	
@media screen and (min-width: 660px)
	{
	#logo{
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
        margin-bottom: 20px;
    }
	nav {
	   background: none;
	   float: right;
	   font-size: 1.125em;
	   margin-right: 5%;
	   text-align: right;
	   width: 45%;
       margin-bottom: 20px;
    }   
	    header{
        height: 80px;
		border-bottom: 5px solid #111921;
        margin-bottom: 60px;
    }

    body{   
        background: purple;
	}
}

/*  TWO COLUMN LAYOUT */
    #primary{
        width: 50%;
        float: left;
    }
    
    #secondary{
        width: 40%;
        float: right;
    }
@media screen and (max-width: 660px)
{
	#gallery li{
		height: 305px;
	}
}